@charset "UTF-8";

// img url
$imgUrl: '/vue-notepad/public/images';

// font url
$fontUrl: '/vue-notepad/public/fonts';
$TEXT_FONT_STACK: (
  'en': ('-apple-system', 'BlinkMacSystemFont', 'San Francisco', 'Noto Sans KR', 'Malgun Gothic', '맑은고딕', '돋움', 'Dotum', 'Helvetica', 'Apple SD Gothic Neo', Sans-serif),
  'ko': ('Noto Sans KR', 'Malgun Gothic', '맑은고딕', '돋움', 'Dotum', 'Helvetica', 'Apple SD Gothic Neo', Sans-serif)
);

// color
$TEXT_DEAFULT : #333;
$BACKGROUND : #FAF5ED;
$POINT : #FF880F;
$POINT_PURPLE : #8763FB;
$DISABLED_DEFAULT : #b3adad;